{% extends 'base.html' %} {% block content %}
<form method="post">
	<input type="text" name="title" placeholder="Заголовок">
	<br>
	<input type="text" name="surname" placeholder="Фамилия">
	<br>
	<input type="text" name="name" placeholder="Имя">
	<br>
	<input type="text" name="education" placeholder="Образование">
	<br>
	<input type="text" name="profession" placeholder="Профессия">
	<br>
	<input type="text" name="sex" placeholder="Пол">
	<br>
	<input type="text" name="motivation" placeholder="Мотивация">
	<br>
	<input type="text" name="ready" placeholder="Готовы?">
	<br>
	<button type="submit">Отправить</button>
</form> {% endblock %}